.backgroundImage {
    background-image: url('../public/cityImage.jpeg');
    height: 58.593rem;
}

.centerInput {
    text-align: center;
    padding-top: 20%;
}

.titleRows {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
    display: flex;
}

.responseRow {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.sortableColumn {
    cursor: pointer;
}

.sortCol {
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px dodgerblue;
    border-top-width: 0;
}

.btnStyle {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav {
    margin-left: 5rem;
	position: relative;
	width: 210px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 12px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: sandybrown;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

.searchInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.addBtn {
    margin-left: 1rem;
    margin-top: 1rem;
}

.detailsStyle {
    margin-left: 43%;
    width: 350px;
    text-align: center;
}